<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Message</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Add a New Message</h1>
    <form action="/post" method="POST">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"  placeholder="enter username" required>
        </div>
        <div>
            <label for="content">Message:</label>
            <textarea id="content" name="content"  placeholder="enter the ppost content" required></textarea>
        </div>
        <button type="submit">Add Message</button>
    </form>
    <a href="/">Back to Messages</a>
</body>
</html>
 